{% extends "flood_inundation/base.html" %}

{% load staticfiles %}

{% block app_content %}
<!-- This extra bit of style defines the size of the "map" div tag area that shows up later -->
    <style>
      .map {
        height: 600px;
        width: 100%;
      }
    </style>

  <div id="map" class="map"></div>
{% endblock %}

{% block app_actions %}

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'flood_inundation/js/main.js' %}" type="text/javascript"></script>
{% endblock %}